<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
    <script src="angular-class-extender.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="animals">

<h1>Angular class extender</h1>

<div ng-controller="Dog as ctrl">
    <h1>{{ctrl.title}}</h1>
    <button ng-click="ctrl.speak()">Speak!</button>
</div>

<div ng-controller="Cat as ctrl">
    <h1>{{ctrl.title}}</h1>
    <button ng-click="ctrl.speak()">Speak!</button>
</div>

<div ng-controller="AngryDog as ctrl">
    <h1>{{ctrl.title}}</h1>
    <button ng-click="ctrl.speak()">Speak!</button>
</div>


</body>
</html>
