<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"/>
    <script src="angular-class-extender.js"/>
    <script src="app.js"/>
</head>
<body ng-app="animals">

<h1>Angular class extender</h1>

<div ng-controller="Dog">
    <h1>{{title}}</h1>
    <button ng-click="speak()">Speak!</button>
</div>

<div ng-controller="Cat">
    <h1>{{title}}</h1>
    <button ng-click="speak()">Speak!</button>
</div>

<div ng-controller="AngryDog">
    <h1>{{title}}</h1>
    <button ng-click="speak()">Speak!</button>
</div>


</body>
</html>